<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.ly.project.mapper.NotifyMapper">

    <insert id="insert" parameterType="me.ly.project.model.NoticeModel">
        insert into tb_notify(
        <if test="userId != null">userId,</if>
        <if test="type != null">type,</if>
        <if test="content != null">content,</if>
        createStamp
        ) values (
        <if test="userId!= null">#{userId},</if>
        <if test="type != null">#{type},</if>
        <if test="content != null">#{content},</if>
        now()
        )
    </insert>
    <update id="checkNotice">
        update tb_notify set
        checkTime = now()
        where userId = #{userId} and checkTime is null
        <if test="type != null">
            and type = #{type}
        </if>
    </update>
    <select id="listNewNotice" resultType="me.ly.project.model.NoticeModel">
        select id, userId, type, content, checkTime, createStamp
        from tb_notify
        where
          userId = #{userId} and checkTime is null
          <if test="type != null">
              and type = #{type}
          </if>
        order by createStamp desc
    </select>
    <select id="listNotice" resultType="me.ly.project.model.NoticeModel">
        select id, userId, type, content, checkTime, createStamp
        from tb_notify
        where
        userId = #{userId}
        <if test="type != null">
            and type = #{type}
        </if>
        order by createStamp desc
    </select>

</mapper>